* {
  border: 0;
  margin: 0;
  padding: 0;
}

/* KeyFrames */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navbar */
.Navbar {
  align-items: center;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0rem;
  width: 100%;

  .nav_img {
    align-items: center;
    display: flex;
    img {
      height: auto;
      margin-left: 2rem;
      max-width: 4rem;
      width: 100%;
    }
    h2 {
      color: white;
      margin-left: 1rem;
    }
  }

  .nav_links {
    ul {
      display: flex;
      flex-direction: row;
      > li {
        list-style: none;
        margin-right: 2rem;

        > a {
          color: white;
          padding: 0.5rem;
          text-decoration: none;
        }

        > a:hover {
          background-color: white;
          border-radius: 2rem;
          color: #000000;
        }
      }
    }
  }

  @media screen and (max-width: 500px) {
    flex-direction: column;

    .nav_img {
      img {
        height: auto;
        margin-left: 0rem;
        max-width: 2rem;
        width: 100%;
      }
    }

    .nav_links {
      width: 100%;
      ul {
        > li {
          padding-top: 1rem;
          margin: 0 auto;
        }
      }
    }
  }
}

/* Information */
.Information {
  align-items: center;
  background-color: #f4dfc8;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3rem 0rem;
  width: 100%;

  .Image_Cv {
    border: 2px dotted #000000;
    border-radius: 25px;
    max-width: 20rem;
    width: 40%;
    box-shadow: 5px 5px 5px #000000;
  }

  .Personal {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 60%;

    h2 {
      font-size: 44px;
      font-weight: 900;
      letter-spacing: 1px;
      margin-bottom: 2rem;
      text-decoration: underline;
      text-shadow: 1px 1px 1px #000000;
    }

    div {
      display: flex;
      flex-direction: row;
      letter-spacing: 1px;

      ul {
        list-style: none;
        margin-left: 2rem;

        li {
          font-size: 22px;
          margin-bottom: 1.5rem;

          a {
            color: #000000;
          }
        }
      }
    }
  }

  @media screen and (max-width: 500px) {
    flex-direction: column;
    .Image_Cv {
      max-width: 20rem;
      width: 100%;
    }
    .Personal {
      width: 100%;
      h2 {
        font-size: 36px;
        margin: 2rem 0rem;
      }
      div {
        flex-direction: column;

        > ul {
          > li {
            font-size: 18px;
          }
        }
      }
    }
  }
}

/* Resume */
.Resume {
  align-items: center;
  background-color: #f4eae0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3rem 0rem;
  width: 100%;

  p {
    font-size: 22px;
    letter-spacing: 1px;
    width: 60%;
  }

  img {
    animation: spin 4s linear infinite;
    max-width: 20rem;
    width: 40%;
  }

  @media screen and (max-width: 500px) {
    flex-direction: column;

    p {
      font-size: 18px;
      width: 80%;
    }

    img {
      width: 55%;
      margin-top: 3rem;
    }
  }
}

/* Course */
.Course {
  align-items: center;
  background-color: #faf6f0;
  display: flex;
  flex-direction: column;
  padding: 3rem 0rem;
  width: 100%;

  h2 {
    font-size: 44px;
    letter-spacing: 1px;
    margin-bottom: 2rem;
  }

  div {
    display: flex;
    flex-direction: row;
    letter-spacing: 1px;

    ul {
      list-style: none;
      margin-left: 2rem;

      li {
        font-size: 18px;
        margin-bottom: 1.5rem;
      }
    }
  }

  @media screen and (max-width: 500px) {
    h2 {
      font-size: 36px;
      text-align: center;
    }

    div {
      flex-direction: column;

      ul {
        margin: 0rem 1rem;

        li {
          font-size: 18px;
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}

.Academic_Tour {
  align-items: start;
  background-color: #f4eae0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3rem 0rem;
  width: 100%;

  aside {
    width: 40%;

    h2 {
      font-size: 28px;
      margin-bottom: 1rem;
    }

    article {
      display: flex;
      flex-direction: row;
      width: 100%;

      h4 {
        width: 15%;
      }

      div {
        display: flex;
        flex-direction: column;
        width: 85%;
      }
    }
  }

  @media screen and (max-width: 500px) {
    flex-direction: column;
    aside {
      width: 90%;
      margin: 0rem 1rem;

      h2 {
        font-size: 24px;
      }

      article {
        display: flex;
        flex-direction: column;
        width: 100%;

        h4 {
          width: 100%;
          margin-bottom: 0.5rem;
        }

        div {
          display: flex;
          flex-direction: column;
          width: 90%;

          h3,
          p {
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  }
}

.Footer {
  background-color: #f4dfc8;
  display: flex;
  font-size: 18px;
  justify-content: center;
  padding: 3rem 0rem;
  width: 100%;

  @media screen and (max-width: 500px) {
    font-size: 16px;
  }
}

.Float {
  border-radius: 6px 6px 6px 6px;
  bottom: 5px;
  margin-left: 10px;
  padding: 10px 0 0;
  position: fixed;
  right: 0px;
  text-align: center;
  width: 90px;
  z-index: 15;

  > p > a > img {
    max-width: 40px;
    width: 100%;
  }

  > p > a > img:hover {
    max-width: 45px;
    width: 100%;
  }

  @media screen and (max-width: 500px) {
    width: 50px;
  }

}

.SocialMedia {
  position: fixed;
  bottom: 20px;
  width: 45px;
  height: auto;
  z-index: 9999;

  > a > img {
    width: 100%;
    max-width: 4rem;
  }
}