* {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Navbar */
.Navbar {
  align-items: center;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0rem;
  width: 100%;

  .nav_img {
    align-items: center;
    display: flex;
    img {
      height: auto;
      margin-left: 2rem;
      max-width: 4rem;
      width: 100%;
    }
    h2 {
      color: white;
      margin-left: 1rem;
    }
  }

  .nav_links {
    ul {
      display: flex;
      flex-direction: row;
      > li {
        list-style: none;
        margin-right: 2rem;

        > a {
          color: white;
          padding: 0.5rem;
          text-decoration: none;
        }

        > a:hover {
          background-color: white;
          border-radius: 2rem;
          color: #000000;
        }
      }
    }
  }

  @media screen and (max-width: 500px) {
    flex-direction: column;

    .nav_img {
      img {
        height: auto;
        margin-left: 0rem;
        max-width: 2rem;
        width: 100%;
      }
    }

    .nav_links {
      width: 100%;
      ul {
        > li {
          margin: 0 auto;
          padding-top: 1rem;
        }
      }
    }
  }
}

.Container {
  background-color: #f4dfc8;
  padding: 3rem 0rem;
  h2 {
    color: #000000;
    font-size: 36px;
    text-align: center;
    text-decoration: underline;
  }
  .Container-Card {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 80%;

    .Card {
      background-color: #000000;
      border: 1px solid #000000;
      border-radius: 25px;
      margin-top: 2rem;
      max-width: 25rem;
      width: 100%;

      img {
        border-bottom: 1px solid #000000;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        height: 18rem;
        max-width: 25rem;
        width: 100%;
      }

      .Texts {
        border-end-end-radius: 25px;
        border-end-start-radius: 25px;
        color: white;
        padding: 0.5rem 2rem;

        h2 {
          color: white;
          font-size: 18px;
          text-decoration: underline;
        }

        p {
          font-size: 16px;
          margin-top: 0.5rem;
        }

        ul {
          margin-top: 0.5rem;
          li {
            list-style: none;
          }
        }
      }
    }
  }

  @media screen and (max-width: 500px) {
    h2 {
      font-size: 24px;
    }

    .Container-Card {
      width: 90%;
    }
  }
}

.Forked_Proyects {
  background-color: #f4eae0;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  padding: 3rem 0rem;

  h2 {
    font-size: 2rem;
    text-align: center;
  }

  div {
    margin: 0 auto;
    margin-top: 3rem;
    padding: 2rem;

    a {
      margin-right: 2rem;
      text-decoration: none;
      color: #f4eae0;
      padding: 2rem;
      background-color: #000000;
      border-radius: 35px;
      font-size: 2rem;
    }

    a:hover {
      color: #000000;
      background-color: white;
      border: 1px solid #000000;
    }
  }

  @media screen and (max-width: 500px) {
    
    div {
      display: flex;
      flex-flow: column wrap;
      margin-top: 0;
      padding: 2rem 2rem 0rem 2rem;
      a {
        margin-right: 0;
        margin-bottom: 2rem;
        padding: 2rem;
        font-size: 1rem;
      }
      a:nth-child(2) {
        margin-bottom: 0rem;
      }
    }

  }
}

.Footer {
  background-color: #faf6f0;
  display: flex;
  font-size: 18px;
  justify-content: center;
  padding: 3rem 0rem;
  width: 100%;

  @media screen and (max-width: 500px) {
    font-size: 16px;
  }
}

.Float {
  border-radius: 6px 6px 6px 6px;
  bottom: 5px;
  margin-left: 10px;
  padding: 10px 0 0;
  position: fixed;
  right: 0px;
  text-align: center;
  width: 90px;
  z-index: 15;

  > p > a > img {
    max-width: 40px;
    width: 100%;
  }

  > p > a > img:hover {
    max-width: 45px;
    width: 100%;
  }

  @media screen and (max-width: 500px) {
    width: 50px;
  }
}

.SocialMedia {
  position: fixed;
  bottom: 20px;
  width: 45px;
  height: auto;
  z-index: 9999;

  > a > img {
    width: 100%;
    max-width: 4rem;
  }
}
